* {
    box-sizing: border-box;
}

body, html {
    overflow:hidden;
}

header {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;    
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px #EF4423;
}

.class-in-main-screen {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;    
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px #EF4423;    
}

body {
    margin: 0;
    background-color: #4056a2;
    font-family: 'Press Start 2P', cursive;
}

.replay > button, input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.replay > button, button[type=button] {
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.replay > button, button[type=button]:hover {
    background-color: #ff0000;
}

.user-options {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
    z-index: 1; 
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 15px;
    transform: translate(-50%, -50%);
}

.grid-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

.user-options > h2 {
    margin-top: 0;
    letter-spacing: 3px;
    font-size: 18px;
    padding-bottom: 24px;
    text-shadow: 1px 1px #EF4423;
}

.user-options > label {
    margin-top: 0;
    letter-spacing: 3px;
    text-shadow: 2px 2px #FFFFFF;
}

#timer {
    padding-top: 20px;
}

.countdown {
    text-align: left;
    padding-bottom: 20px;
    display: none;
}

.winner-display {
    text-align: center;
    padding-top: 20px;
}

.main {
    visibility: hidden;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 0 20px;
    margin-bottom: 50px;
    z-index: 2; 
    position: fixed;
    top: 10%;
    left: 10%;
    box-shadow: 0 0 15px;
}

.player-title {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.player-title h6 {
    margin: 10px;
}

.player-turn {
    padding-left: 8px;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tic-tac-toe {
    margin: auto;
    width: 80%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 20px;
}

.col-one *, .col-two *, .col-three * {
    height: calc(100% / 3);
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.col-one, .col-two {
    border-right: 6px solid black;
}

.col-one-row-one, .col-one-row-two, .col-two-row-one, .col-two-row-two, .col-three-row-one, .col-three-row-two {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom:solid 2px #41403E;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
}

.stats > h6 {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.current-player {
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    align-items: flex-end;
    width: 40%;
}

.space {
    padding-top: 10px;
}

.space-invader-p1, .space-invader-p2 {
    visibility: hidden;
    width: 50px;
    padding-right: 10px;
}

.highlightCurrentPlayer {
    text-decoration: underline 4px red;
}

@keyframes blink{
    0%{
      border-right-color:transparent;
    }
    50%{
      border-right-color:transparent;
    }
    51%{
      border-right-color:#fff;
    }
    100%{
      border-right-color:#fff;
    }
  }

@media only screen and (max-width: 600px) {
    .tic-tac-toe img {
        width: 50px;
        height: 50px;
    }
    .player-title {
        display: block;
        text-align: left;
    }
  }